@import '../../../../vendor/filament/filament/resources/css/theme.css';

@config './tailwind.config.js';

.fi-sidebar {
    @apply lg:bg-white dark:bg-gray-950 lg:shadow-xl lg:shadow-primary-200 !important;
}

.fi-tabs-jobseeker {
    @apply relative top-3;
}

.fi-infolist-star-rating > dl > .grid {
    @apply gap-0 !important;
    grid-template-columns: repeat(5, 24px) !important;
}

.fi-nav-container > ul {
    @apply ms-auto;
}

.fi-nav-container > ul ~ div {
    margin-inline-start: unset;
}

.fi-topbar a > img {
    height: 60px;
}
